# Git submodules for mechanical/parts
# Add your parts-specific submodules here, for example:
# [submodule "parts-common"]
#     path = parts-common
#     url = https://github.com/yourorg/mechanical-parts-common.git
#     branch = main

# [submodule "parts-libraries"]
#     path = parts-libraries
#     url = https://github.com/yourorg/parts-libs.git
#     branch = main
