# Git submodules for electronics/modules
# Add your modules-specific submodules here, for example:
# [submodule "modules-common"]
#     path = modules-common
#     url = https://github.com/yourorg/electronics-modules-common.git
#     branch = main

# [submodule "modules-libraries"]
#     path = modules-libraries
#     url = https://github.com/yourorg/modules-libs.git
#     branch = main
